/*//////////////////////////////////////////////////////////////////
[ FONT ]*/
@font-face{
  font-family: 'Godofwar';
  src: url("../fontes/GODOFWAR.TTF");
}

/*@import url('https://fonts.googleapis.com/css?family=Orbitron|Saira+Stencil+One&display=swap'); */
/* font-family: 'Orbitron', sans-serif; */
@font-face{
  font-family: 'Orbitron';
  src: url("../fontes/Orbitron-Regular.TTF");
} 

@font-face{
  font-family: 'Titillium Web';
  src: url("../fontes/TitilliumWeb-Regular.TTF");
}

@import url('https://fonts.googleapis.com/css?family=Iceland&display=swap');
/* font-family: 'Iceland', cursive; */

@import url('https://fonts.googleapis.com/css?family=Rajdhani&display=swap');
/* font-family: 'Rajdhani', sans-serif; */

@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
/* font-family: 'Quicksand', sans-serif; */

@import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap');
/* font-family: 'Saira Stencil One', cursive; */

@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');
/* font-family: 'Exo', sans-serif; */


div.container{
  width: 100%;
  padding: 10px; 
  background-image: linear-gradient(to left, rgba(30, 217, 80), rgba(30, 217, 208));
  
}

div#myNavbar{
  margin: auto;
}
div#myNavbar ul{
  margin: 0px;
}
div#myNavbar ul li{
  display: inline-block;
  padding: 5px 20px 5px 20px;
  border-radius: 10px; 
  list-style: none;
}

div#myNavbar ul li a{
  color: #ffffff;
  font-size: 16pt;
  font-family: 'Orbitron', cursive;
  text-decoration: none;
}
div#myNavbar ul li:hover{
  color: #ccfff2;
  background-color: rgba(0, 0, 0, .1);
}
div#myNavbar ul li:hover a{
  color: #66ffd9;
}

div#myLogin{
  margin: auto;
}
div#myLogin ul{
  margin: 0px;
}
div#myLogin ul li{
  font-size: 12pt;
  list-style: none;
}




/*BUTTON LOGIN*/
div#myNavBar ul#myLogin{
  
  background-color: red;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar{
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}